

.div{
    position: relative;
}
.input{
    width: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:focus{
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}
.clearIcon{
    width: 15px;
    height: 15px;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 30%;
    right: 3%;
    cursor: pointer;
}